body{
    background-color:wheat;
}
ul{
    background-color: aquamarine;
}
button{
    background-color: rgb(151, 224, 151);
    border-radius: 15px;
}
nav{

    margin: 50px;
}
.cards{
    width: 20%;
    display: inline-block;
    background-color: bisque;
    margin: 40px;
    box-shadow: 2px 2px 10px black;
    }
    .cards img{
    width: 100%;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    object-fit: cover;
}
section{
    padding: 50px;
    background-color: rgb(9, 219, 9);
    text-align: center;
}
.great{
    padding: 80px;
}
img{
   
    max-height: 300px;
    height: 200px;
    padding: 20px;
    padding-top: 50px;
}